<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/frontstyle1.css">
	<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	</head>
<body>
    	<header>
		<nav>
			<div class="logo"> <h1 class="animate__animated animate__heartBeat">THINKIT. PRINTIT. LOVEIT.</h1></div>
			<div class="logo1">
				<img src="../css/AAA.png">
			</div>
			<div class="menu">
				<ul>
					<li>
						<a href="#">MEN</a>
							<ul>
								<li><a>NECK GAITERS</a></li>
								<li><a>T-SHIRTS</a></li>
							</ul>
					</li>
					<li>
						<a href="#">WOMEN</a>
							<ul>
								<li><a>NECK GAITER</a></li>
								<li><a>T-SHIRTS</a></li>
								<li><a>EARS RINGS</a></li>
								<li><a>NECK CHAINS</a></li>
							</ul>
					</li>

					<li>
						<a href="#">INDIE</a>
							<ul>
								<li><a>BED SHEETS</a></li>
								<li><a>PILLOW COVER</a></li>
								<li><a>COVERS</a></li>
								<li><a>COFFE MUG'S</a></li>
								<li><a>TEA CUP'S</a></li>
								<li><a>FRAMES</a></li>
							</ul>

					</li>

					<li><a href="/login">SIGNIN</a></li>
					<li><a href="/register">SIGNUP</a></li>
				</ul>
			</div>

		</nav>
    </header>
      	<div class="slidershow middle">
    	<div class="slides">
    		<input type="radio" name="r" id="r1" checked>
    		<input type="radio" name="r" id="r2">
    		<input type="radio" name="r" id="r3">
    		<input type="radio" name="r" id="r4">
    		<input type="radio" name="r" id="r5">
    		<div class="slide s1">
    			<img src="../css/1.jpg" alt="">
    		</div>
    		<div class="slide">
    			<img src="../css/2.jpg" alt="">	
    		</div>
    		<div class="slide">
    			<img src="../css/3.jpg" alt="">	
    		</div>
    		<div class="slide">
    			<img src="../css/4.jpg" alt="">	
    		</div>
    		<div class="slide">
    			<img src="../css/5.jpg" alt="">	
    		</div>	
    	</div>
    	<div class="navigation">
    		<label for="r1" class="bar"></label>
    		<label for="r2" class="bar"></label>
    		<label for="r3" class="bar"></label>
    		<label for="r4" class="bar"></label>
    		<label for="r5" class="bar"></label>
    	</div>
    </div>
     <div class="slidershower middleer">
        <div class="slideser">
            <input type="radio" name="rer" id="rer1" checked>
            <input type="radio" name="rer" id="rer2">
            <input type="radio" name="rer" id="rer3">
            <input type="radio" name="rer" id="rer4">
            <input type="radio" name="rer" id="rer5">
            <div class="slideer s2">
                <img src="../css/6.jpg" alt="">
            </div>
            <div class="slideer">
                <img src="../css/7.jpg" alt="">    
            </div>
            <div class="slideer">
                <img src="../css/8.jpg" alt="">    
            </div>
            <div class="slideer">
                <img src="../css/9.jpg" alt="">    
            </div>
            <div class="slideer">
                <img src="../css/10.jpg" alt="">   
            </div>  
        </div>
        <div class="navigationer">
            <label for="rer1" class="barer"></label>
            <label for="rer2" class="barer"></label>
            <label for="rer3" class="barer"></label>
            <label for="rer4" class="barer"></label>
            <label for="rer5" class="barer"></label>
        </div>
    </div>
    </div>
    <div class="page-content">
    </div>
    <footer>
        <div class="footer-container">
            <div class="left-col">
            <img src="../css/AAA.png" alt="" class="logos">
            <div class="social-media">
               <a href="#"><i class="fab fa-facebook-f"></i></a> 
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-snapchat"></i></a>               
            </div>
            <p class="rights-text">@ 2020 Created By SHASHANK GOEL All Rights Reserved</p>
        </div>
        <div class="right-col">
           <h1>Our Newsletter</h1> 
           <div class="border"></div>
           <p>Enter Your Email to get our news and updates</p>
           <form action="" class="newletter-form">
            <input type="text" class="ter" name="ter" placeholder="Enter Your Email ">
           <input type="submit" class="btn" value="submit">

           </form>
        </div>
        </div>
    </footer>
    
</body>
</html>